<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are no longer welcome, <%= @user.full_name %></h1>
    <p>
      You have successfully made enough enemies for the admins to want to delete you.
      <br>
    </p>
    <p>
      If you learned your lesson,
      Sign up again @ <%= @url %>.
    </p>
    <p>Thanks for nothing, peace!</p>
  </body>
</html>