<div id="myCarousel" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://s3-us-west-2.amazonaws.com/mango1221/uploads/redline4.jpg?X-Amz-Date=20160218T224719Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=2eac940b577bc4388417d6a62700fa32b2e1b11f59795d122402d3d6eddc3f19&X-Amz-Credential=ASIAIL2HWOAZQDM2GCZA/20160218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMP//////////wEakAICDyEjyTHqiNXma40M4Ixr7cN15V4OuiSVnO2fFLDxqOc6I0bSBeoWMRyVrvfa8wJG56keugZTlAaHIki5zMUGr3BdffUPTdr7KHiaf5WK0yBPGxtgYxtOpmkSdYOGX3y8xfbKf5jj6fGDAQHJInclrC3rKKfVEwMBXb%2Bubtg2e5/Y326IdACC1vXvTAFy19sJ01cIFbpaMa3OhlhKai65KQQrQuYVYLrMv6vgS14CFE59h0kzpg4zftCIUATYZjpgdYv/LrbNKv8DYOuPMpi0gVtvWxTy7dG1Aucr3OWhzPZwPFy9yx/8RX3K%2B4WvZSAIDwccq9WiG9sYshxiaFI7g9UxYce0qIJ5aGB0HMOi5SDelZi2BQ%3D%3D" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Mango</h1>
          <br>
          <p>Your online movie club</p>
          <br>
          <br>
          <br>
          <p></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://s3-us-west-2.amazonaws.com/mango1221/uploads/falcon.jpg?X-Amz-Date=20160218T224553Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=d8df2df09ffaf3f56be38fa9ec3807833a9e91f09bf57d36e48e3e89c8954d4a&X-Amz-Credential=ASIAIL2HWOAZQDM2GCZA/20160218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMP//////////wEakAICDyEjyTHqiNXma40M4Ixr7cN15V4OuiSVnO2fFLDxqOc6I0bSBeoWMRyVrvfa8wJG56keugZTlAaHIki5zMUGr3BdffUPTdr7KHiaf5WK0yBPGxtgYxtOpmkSdYOGX3y8xfbKf5jj6fGDAQHJInclrC3rKKfVEwMBXb%2Bubtg2e5/Y326IdACC1vXvTAFy19sJ01cIFbpaMa3OhlhKai65KQQrQuYVYLrMv6vgS14CFE59h0kzpg4zftCIUATYZjpgdYv/LrbNKv8DYOuPMpi0gVtvWxTy7dG1Aucr3OWhzPZwPFy9yx/8RX3K%2B4WvZSAIDwccq9WiG9sYshxiaFI7g9UxYce0qIJ5aGB0HMOi5SDelZi2BQ%3D%3D" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Share Happiness</h1>
          <br>
          <p>Suggest movies to a community of like-minded people</p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="https://s3-us-west-2.amazonaws.com/mango1221/uploads/got.jpg?X-Amz-Date=20160218T224701Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=156a0d298a6eda09eee3f38633dc45af75a59446bada711ee0449933ddcf93e6&X-Amz-Credential=ASIAIL2HWOAZQDM2GCZA/20160218/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEMP//////////wEakAICDyEjyTHqiNXma40M4Ixr7cN15V4OuiSVnO2fFLDxqOc6I0bSBeoWMRyVrvfa8wJG56keugZTlAaHIki5zMUGr3BdffUPTdr7KHiaf5WK0yBPGxtgYxtOpmkSdYOGX3y8xfbKf5jj6fGDAQHJInclrC3rKKfVEwMBXb%2Bubtg2e5/Y326IdACC1vXvTAFy19sJ01cIFbpaMa3OhlhKai65KQQrQuYVYLrMv6vgS14CFE59h0kzpg4zftCIUATYZjpgdYv/LrbNKv8DYOuPMpi0gVtvWxTy7dG1Aucr3OWhzPZwPFy9yx/8RX3K%2B4WvZSAIDwccq9WiG9sYshxiaFI7g9UxYce0qIJ5aGB0HMOi5SDelZi2BQ%3D%3D" class="img-responsive">
      <div class="container">
        <div class="carousel-caption">
          <h1>Nerd Out</h1>
          <br>
          <p>Talk about your favorite movies</p>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel